<template name="activeUsers">

                    <div class="row">

                      <div class="activeUsers">
                        <h3>Total and Active Users</h3>

                      </div>


                      <div class="col-md-5">
                          <div class="epc-item bgm-orange">
                              <div class="easy-pie main-pie" data-percent="89">
                                  <div class="percent">89</div>
                                  <div class="pie-title">Total Users</div>
                              </div>
                          </div>
                      </div>

                      <div class="col-md-5">
                          <div class="epc-item bgm-green">
                              <div class="easy-pie main-pie" data-percent="40">
                                  <div class="percent">40</div>
                                  <div class="pie-title">Active Users</div>
                              </div>
                          </div>
                      </div>


                        </div>

                <div class="row">
                    <div class="block-header">
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <h2>All Users <small>Yo! All FlippyCampus Users are shown in this table, their registered email and community.</small></h2>
                        </div>

                        <div class="table-responsive">
                            <table id="data-table-basic" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th data-column-id="id" data-type="numeric">ID</th>
                                        <th data-column-id="sender">Name</th>
                                        <th data-column-id="received" data-order="desc">Email</th>
                                        <th data-column-id="received" data-order="desc">Community</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>10238</td>
                                        <td>Frimpong Nana Yaw</td>
                                        <td>eduardo@pingpong.com</td>
                                        <td>University of Ghana</td>
                                    </tr>
                                    <tr>
                                        <td>10243</td>
                                        <td>Barnabas Ayinloya</td>
                                        <td>eduardo@pingpong.com</td>
                                        <td>UCC</td>
                                    </tr>
                                    <tr>
                                        <td>10248</td>
                                        <td>Patrick Tutu</td>
                                        <td>eduardo@pingpong.com</td>
                                        <td>University of Ghana</td>
                                    </tr>
                                    <tr>
                                        <td>10253</td>
                                        <td>Godwin Mensah</td>
                                        <td>eduardo@pingpong.com</td>
                                        <td>University of Ghana</td>
                                    </tr>
                                    <tr>
                                        <td>10234</td>
                                        <td>Silvester Sey</td>
                                        <td>lila@google.com</td>
                                        <td>University of Ghana</td>
                                    </tr>
                                    <tr>
                                        <td>10239</td>
                                        <td>Kweku Osei</td>
                                        <td>lila@google.com</td>
                                        <td>University of Ghana</td>
                                    </tr>
                                    <tr>
                                        <td>10244</td>
                                        <td>Shaggy Bruce</td>
                                        <td>lila@google.com</td>
                                        <td>University of Ghana</td>
                                    </tr>
                                    <tr>
                                        <td>10249</td>
                                        <td>Lila Google</td>
                                        <td>lila@google.com</td>
                                        <td>University of Ghana</td>
                                    </tr>
                                    <tr>
                                        <td>10237</td>
                                        <td>Kelechi Ofori</td>
                                        <td>robert@bingo.com</td>
                                        <td>UCC</td>
                                    </tr>
                                    <tr>
                                        <td>10242</td>
                                        <td>Belinda Roberts</td>
                                        <td>robert@bingo.com</td>
                                        <td>UCC</td>

                                    </tr>
                                    <tr>
                                        <td>10247</td>
                                        <td>Caleb Kwao</td>
                                        <td>robert@bingo.com</td>
                                        <td>UCC</td>

                                    </tr>
                                    <tr>
                                        <td>10252</td>
                                        <td>Odoom Yaa</td>
                                        <td>robert@bingo.com</td>
                                        <td>UCC</td>

                                    </tr>
                                    <tr>
                                        <td>10236</td>
                                        <td>Nana Mensah</td>
                                        <td>simon@yahoo.com</td>
                                        <td>UCC</td>

                                    </tr>
                                    <tr>
                                        <td>10241</td>
                                        <td>Akindele Simon</td>
                                        <td>simon@yahoo.com</td>
                                        <td>University of Ghana</td>

                                    </tr>
                                    <tr>
                                        <td>10246</td>
                                        <td>Halimat Oladeji</td>
                                        <td>simon@yahoo.com</td>
                                        <td>UCC</td>

                                    </tr>
                                    <tr>
                                        <td>10251</td>
                                        <td>Ayodele Rasaq</td>
                                        <td>simon@yahoo.com</td>
                                        <td>UCC</td>

                                    </tr>
                                    <tr>
                                        <td>10235</td>
                                        <td>Timothy Microsoft</td>
                                        <td>tim@microsoft.com</td>
                                        <td>University of Ghana</td>

                                    </tr>
                                    <tr>
                                        <td>10240</td>
                                        <td>Sharon Goodluck</td>
                                        <td>tim@microsoft.com</td>
                                        <td>UCC</td>

                                    </tr>
                                    <tr>
                                        <td>10245</td>
                                        <td>Joel Amuzu</td>
                                        <td>tim@microsoft.com</td>
                                        <td>UCC</td>

                                    </tr>
                                    <tr>
                                        <td>10250</td>
                                        <td>Hazel Korkor</td>
                                        <td>tim@microsoft.com</td>
                                        <td>University of Ghana</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

</template>
