<template name="CBITUsers">
                      <div class="block-header">
                      </div>

                      <div class="card">
                          <div class="card-header">
                              <h3>CBIT</h3>
                              <h2>All Users</h2>
                          </div>

                          <div class="table-responsive">
                              <table id="data-table-basic" class="table table-striped">
                                  <thead>
                                      <tr>
                                          <th data-column-id="id" data-type="numeric">ID</th>
                                          <th data-column-id="sender">Name</th>
                                          <th data-column-id="received" data-order="desc">Email</th>
                                          <th data-column-id="received" data-order="desc">Status</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>10238</td>
                                          <td>Frimpong Nana Yaw</td>
                                          <td>eduardo@pingpong.com</td>

                                          <td>
                                            <div class="toggle-switch" data-ts-color="red">
                                                <input id="ts" type="checkbox">
                                                <label for="ts" class="ts-helper"></label>
                                            </div>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>10243</td>
                                          <td>Barnabas Ayinloya</td>
                                          <td>eduardo@pingpong.com</td>
                                          <td>
                                            <div class="toggle-switch" data-ts-color="green">
                                                <input id="ts1" type="checkbox">
                                                <label for="ts1" class="ts-helper"></label>
                                            </div>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>10248</td>
                                          <td>Patrick Tutu</td>
                                          <td>eduardo@pingpong.com</td>

                                          <td>
                                            <div class="toggle-switch" data-ts-color="green">
                                                <input id="ts2" type="checkbox">
                                                <label for="ts2" class="ts-helper"></label>
                                            </div>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>10253</td>
                                          <td>Godwin Mensah</td>
                                          <td>eduardo@pingpong.com</td>

                                          <td>
                                            <div class="toggle-switch" data-ts-color="red">
                                                <input id="ts3" type="checkbox" hidden="hidden">
                                                <label for="ts3" class="ts-helper"></label>
                                            </div>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>10234</td>
                                          <td>Silvester Sey</td>
                                          <td>lila@google.com</td>

                                          <td>
                                            <div class="toggle-switch" data-ts-color="amber">
                                                <input id="ts4" type="checkbox">
                                                <label for="ts4" class="ts-helper"></label>
                                            </div>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>10239</td>
                                          <td>Kweku Osei</td>
                                          <td>lila@google.com</td>

                                          <td>
                                            <div class="toggle-switch" data-ts-color="green">
                                                <input id="ts5" type="checkbox" hidden="hidden">
                                                <label for="ts5" class="ts-helper"></label>
                                            </div>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>10244</td>
                                          <td>Shaggy Bruce</td>
                                          <td>lila@google.com</td>

                                          <td>
                                            <div class="toggle-switch" data-ts-color="green">
                                                <input id="ts6" type="checkbox" hidden="hidden">
                                                <label for="ts6" class="ts-helper"></label>
                                            </div>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>10249</td>
                                          <td>Lila Google</td>
                                          <td>lila@google.com</td>

                                          <td>
                                            <div class="toggle-switch" data-ts-color="red">
                                                <input id="ts7" type="checkbox" hidden="hidden">
                                                <label for="ts7" class="ts-helper"></label>
                                            </div>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>10237</td>
                                          <td>Kelechi Ofori</td>
                                          <td>robert@bingo.com</td>

                                          <td>
                                            <div class="toggle-switch" data-ts-color="green">
                                                <input id="ts8" type="checkbox" hidden="hidden">
                                                <label for="ts8" class="ts-helper"></label>
                                            </div>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>10242</td>
                                          <td>Belinda Roberts</td>
                                          <td>robert@bingo.com</td>

                                          <td>
                                            <div class="toggle-switch" data-ts-color="red">
                                                <input id="ts9" type="checkbox" hidden="hidden">
                                                <label for="ts9" class="ts-helper"></label>
                                            </div>
                                          </td>

                                      </tr>
                                      <tr>
                                          <td>10247</td>
                                          <td>Caleb Kwao</td>
                                          <td>robert@bingo.com</td>

                                          <td>
                                            <div class="toggle-switch" data-ts-color="amber">
                                                <input id="ts10" type="checkbox" hidden="hidden">
                                                <label for="ts10" class="ts-helper"></label>
                                            </div>
                                          </td>

                                      </tr>
                                      <tr>
                                          <td>10252</td>
                                          <td>Odoom Yaa</td>
                                          <td>robert@bingo.com</td>

                                          <td>
                                            <div class="toggle-switch" data-ts-color="red">
                                                <input id="ts11" type="checkbox" hidden="hidden">
                                                <label for="ts11" class="ts-helper"></label>
                                            </div>
                                          </td>

                                      </tr>
                                      <tr>
                                          <td>10236</td>
                                          <td>Nana Mensah</td>
                                          <td>simon@yahoo.com</td>

                                          <td>
                                            <div class="toggle-switch" data-ts-color="green">
                                                <input id="ts12" type="checkbox" hidden="hidden">
                                                <label for="ts12" class="ts-helper"></label>
                                            </div>
                                          </td>

                                      </tr>
                                      <tr>
                                          <td>10241</td>
                                          <td>Akindele Simon</td>
                                          <td>simon@yahoo.com</td>

                                          <td>
                                            <div class="toggle-switch" data-ts-color="green">
                                                <input id="ts13" type="checkbox" hidden="hidden">
                                                <label for="ts13" class="ts-helper"></label>
                                            </div>
                                          </td>

                                      </tr>
                                      <tr>
                                          <td>10246</td>
                                          <td>Halimat Oladeji</td>
                                          <td>simon@yahoo.com</td>

                                          <td>
                                            <div class="toggle-switch" data-ts-color="red">
                                                <input id="ts14" type="checkbox" hidden="hidden">
                                                <label for="ts14" class="ts-helper"></label>
                                            </div>
                                          </td>

                                      </tr>
                                      <tr>
                                          <td>10251</td>
                                          <td>Ayodele Rasaq</td>
                                          <td>simon@yahoo.com</td>

                                          <td>
                                            <div class="toggle-switch" data-ts-color="red">
                                                <input id="ts15" type="checkbox" hidden="hidden">
                                                <label for="ts15" class="ts-helper"></label>
                                            </div>
                                          </td>

                                      </tr>
                                      <tr>
                                          <td>10235</td>
                                          <td>Timothy Microsoft</td>
                                          <td>tim@microsoft.com</td>

                                          <td>
                                            <div class="toggle-switch" data-ts-color="amber">
                                                <input id="ts16" type="checkbox" hidden="hidden">
                                                <label for="ts16" class="ts-helper"></label>
                                            </div>
                                          </td>

                                      </tr>
                                      <tr>
                                          <td>10240</td>
                                          <td>Sharon Goodluck</td>
                                          <td>tim@microsoft.com</td>

                                          <td>
                                            <div class="toggle-switch" data-ts-color="red">
                                                <input id="ts17" type="checkbox" hidden="hidden">
                                                <label for="ts17" class="ts-helper"></label>
                                            </div>
                                          </td>

                                      </tr>
                                      <tr>
                                          <td>10245</td>
                                          <td>Joel Amuzu</td>
                                          <td>tim@microsoft.com</td>

                                          <td>
                                            <div class="toggle-switch" data-ts-color="green">
                                                <input id="ts18" type="checkbox" hidden="hidden">
                                                <label for="ts18" class="ts-helper"></label>
                                            </div>
                                          </td>

                                      </tr>
                                      <tr>
                                          <td>10250</td>
                                          <td>Hazel Korkor</td>
                                          <td>tim@microsoft.com</td>

                                          <td>
                                            <div class="toggle-switch" data-ts-color="green">
                                                <input id="ts19" type="checkbox" hidden="hidden">
                                                <label for="ts19" class="ts-helper"></label>
                                            </div>
                                          </td>

                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                        </div>
</template>
