<template name="UCCChannel">

                      <div class="row">
                        <div class="activeUsers">
                          <h3>University of CapeCoast</h3>
                        </div>

                        <div class="card">
                            <div class="listview lv-bordered lv-lg">
                                <div class="lv-header-alt">
                                    <h2 class="lvh-label hidden-xs">UCC Channels</h2>
                                </div>

                                <div class="lv-body">

                                    <div class="lv-item media">
                                      <div class="pull-left">
                                          <img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
                                      </div>
                                        <div class="media-body">

                                            <div class="lv-title">SRC</div>
                                            <ul class="lv-attrs">
                                                <li>Date Created: 09/06/2015</li>
                                                <li>Members: 78954</li>
                                                <li>Posts: 122</li>
                                            </ul>

                                            <div class="lv-actions actions dropdown">
                                                <a href="#" data-toggle="dropdown" aria-expanded="true">
                                                    <i class="md md-more-vert"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="#">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="lv-item media">
                                      <div class="pull-left">
                                          <img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
                                      </div>
                                        <div class="media-body">

                                            <div class="lv-title">Computer Science Department</div>
                                            <ul class="lv-attrs">
                                                <li>Date Created: 09/06/2015</li>
                                                <li>Members: 78954</li>
                                                <li>Posts: 122</li>
                                            </ul>

                                            <div class="lv-actions actions dropdown">
                                                <a href="#" data-toggle="dropdown" aria-expanded="true">
                                                    <i class="md md-more-vert"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="#">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="lv-item media">
                                      <div class="pull-left">
                                          <img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
                                      </div>
                                        <div class="media-body">

                                            <div class="lv-title">Office of the Vice Chancellor</div>
                                            <ul class="lv-attrs">
                                                <li>Date Created: 09/06/2015</li>
                                                <li>Members: 78954</li>
                                                <li>Posts: 122</li>
                                            </ul>

                                            <div class="lv-actions actions dropdown">
                                                <a href="#" data-toggle="dropdown" aria-expanded="true">
                                                    <i class="md md-more-vert"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="#">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="lv-item media">
                                      <div class="pull-left">
                                          <img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
                                      </div>
                                        <div class="media-body">

                                            <div class="lv-title">Office of the Registrar</div>
                                            <ul class="lv-attrs">
                                                <li>Date Created: 09/06/2015</li>
                                                <li>Members: 78954</li>
                                                <li>Posts: 122</li>
                                            </ul>

                                            <div class="lv-actions actions dropdown">
                                                <a href="#" data-toggle="dropdown" aria-expanded="true">
                                                    <i class="md md-more-vert"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="#">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="lv-item media">
                                      <div class="pull-left">
                                          <img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
                                      </div>
                                        <div class="media-body">

                                            <div class="lv-title">Mathematics</div>
                                            <ul class="lv-attrs">
                                                <li>Date Created: 09/06/2015</li>
                                                <li>Members: 78954</li>
                                                <li>Posts: 122</li>
                                            </ul>

                                            <div class="lv-actions actions dropdown">
                                                <a href="#" data-toggle="dropdown" aria-expanded="true">
                                                    <i class="md md-more-vert"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="#">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="lv-item media">
                                      <div class="pull-left">
                                          <img class="lv-img-sm" src="img/profile-pics/1.jpg" alt="">
                                      </div>
                                        <div class="media-body">

                                            <div class="lv-title">International Student Hostel (ISH)</div>
                                            <ul class="lv-attrs">
                                                <li>Date Created: 23/01/2015</li>
                                                <li>Members: 9954</li>
                                                <li>Posts: 100</li>
                                            </ul>

                                            <div class="lv-actions actions dropdown">
                                                <a href="#" data-toggle="dropdown" aria-expanded="true">
                                                    <i class="md md-more-vert"></i>
                                                </a>

                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a href="#">Edit</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Delete</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>





                                </div>
                            </div>

                            <ul class="pagination lv-pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <i class="md md-chevron-left"></i>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <i class="md md-chevron-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        </div>

</template>
