<template name="UCCPosts">

                      <div class="row">
                        <div class="activeUsers">
                          <h3>University of CapeCoast</h3>
                          <h4>All Posts</h4>
                        </div>

                              <!-- Recent Posts -->
                              <div class="col-md-8">


                                <div class="card">
                                  <div class="margin">
                                    <br>
                                  </div>

                                  <a class="lv-item" href="#">
                                      <div class="media">
                                          <div class="pull-left">
                                              <img class="lv-img-sm" src="img/profile-pics/2.jpg" alt="">
                                          </div>
                                          <div class="pull-right">
                                              Tuesday, 21st July, 2015.
                                          </div>
                                          <div class="media-body">
                                              <div class="lv-title">Jonathan Morris</div>
                                              <div class="lv-title">Jonathan.Morris@uglegon.edu</div>
                                              <div class="hotTopic"> <h6>University of Ghana</h6></div>
                                          </div>
                                      </div>
                                  </a>

                                    <div class="card-body">


                                        <div class="tab-content p-20">
                                            <div role="tabpanel" class="tab-pane animated fadeIn in active" id="tab-1">
                                              <div class="topic">
                                                <h4>Lecturer got whipped by Students on the Okponglo Bridge for Failing Them.</h4>
                                              </div>
                                              <br>
                                                <img src="img/headers/sm/6.png" class="img-responsive m-b-15" alt="">
                                              <medium> 40 Comments</medium>
                                            </div>




                                        </div>
                                    </div>
                                </div>

                              </div>

                              <div class="col-md-8">


                                <div class="card">
                                  <div class="margin">
                                    <br>
                                  </div>

                                  <a class="lv-item" href="#">
                                      <div class="media">
                                          <div class="pull-left">
                                              <img class="lv-img-sm" src="img/profile-pics/2.jpg" alt="">
                                          </div>
                                          <div class="pull-right">
                                              Tuesday, 21st July, 2015.
                                          </div>
                                          <div class="media-body">
                                              <div class="lv-title">Jonathan Morris</div>
                                              <div class="lv-title">Jonathan.Morris@uglegon.edu</div>
                                              <div class="hotTopic"> <h6>University of Ghana</h6></div>
                                          </div>
                                      </div>
                                  </a>

                                    <div class="card-body">


                                        <div class="tab-content p-20">
                                            <div role="tabpanel" class="tab-pane animated fadeIn in active" id="tab-1">
                                              <div class="topic">
                                                Lecturer got whipped by Students on the Okponglo Bridge for Failing Them.
                                              </div>
                                              <br>
                                                <img src="img/headers/sm/6.png" class="img-responsive m-b-15" alt="">
                                              <medium> 40 Comments</medium>
                                            </div>




                                        </div>
                                    </div>
                                </div>

                              </div>

                              <div class="col-md-8">


                                <div class="card">
                                  <div class="margin">
                                    <br>
                                  </div>

                                  <a class="lv-item" href="#">
                                      <div class="media">
                                          <div class="pull-left">
                                              <img class="lv-img-sm" src="img/profile-pics/2.jpg" alt="">
                                          </div>
                                          <div class="pull-right">
                                              Tuesday, 21st July, 2015.
                                          </div>
                                          <div class="media-body">
                                              <div class="lv-title">Jonathan Morris</div>
                                              <div class="lv-title">Jonathan.Morris@uglegon.edu</div>
                                              <div class="hotTopic"> <h6>University of Ghana</h6></div>
                                          </div>
                                      </div>
                                  </a>

                                    <div class="card-body">


                                        <div class="tab-content p-20">
                                            <div role="tabpanel" class="tab-pane animated fadeIn in active" id="tab-1">
                                              <div class="topic">
                                                Lecturer got whipped by Students on the Okponglo Bridge for Failing Them.
                                              </div>
                                              <br>
                                                <img src="img/headers/sm/6.png" class="img-responsive m-b-15" alt="">
                                              <medium> 40 Comments</medium>
                                            </div>




                                        </div>
                                    </div>
                                </div>

                              </div>

                              <div class="col-md-8">


                                <div class="card">
                                  <div class="margin">
                                    <br>
                                  </div>

                                  <a class="lv-item" href="#">
                                      <div class="media">
                                          <div class="pull-left">
                                              <img class="lv-img-sm" src="img/profile-pics/2.jpg" alt="">
                                          </div>
                                          <div class="pull-right">
                                              Tuesday, 21st July, 2015.
                                          </div>
                                          <div class="media-body">
                                              <div class="lv-title">Jonathan Morris</div>
                                              <div class="lv-title">Jonathan.Morris@uglegon.edu</div>
                                              <div class="hotTopic"> <h6>University of Ghana</h6></div>
                                          </div>
                                      </div>
                                  </a>

                                    <div class="card-body">


                                        <div class="tab-content p-20">
                                            <div role="tabpanel" class="tab-pane animated fadeIn in active" id="tab-1">
                                              <div class="topic">
                                                Lecturer got whipped by Students on the Okponglo Bridge for Failing Them.
                                              </div>
                                              <br>
                                                <img src="img/headers/sm/6.png" class="img-responsive m-b-15" alt="">
                                              <medium> 40 Comments</medium>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                              </div>

                          </div>
</template>
